/* css/style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.canvas-wrapper {
  flex: 1;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-wrapper.canvas-placement {
  cursor: default;
}

canvas {
  background: #eaeaea;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  display: block;
}

.ui-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  padding: 16px;
  overflow-y: auto;
}

/* 物理相關參數調整區 */
.ui-params-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ui-card h4 {
  margin: 0 0 12px;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}


/* 圖形線條 模板放置區 */
.ui-palette-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Palette 的標題 */
.ui-palette-container h4 {
  margin: 0;
  font-size: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

/* 圖形模板參數區 */
.palette-params-template {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 0.9rem;
}

.palette-params-template label {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

/* 圖形線條工具列 */
.palette {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.palette .tool {
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;

}

/* .palette .tool.selected {
  border-color: #007bff;
  background: #e7f1ff;
} */

.palette .tool.selected {
  outline: 2px solid #007bff;
  border-radius: 4px;
}

/* 如果需要，參數與 palette 間的分隔線 */
.ui-card > hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 0;
}


#template-preview {
  position: fixed;
  pointer-events: none;   /* 滑鼠事件穿透，不擋點擊 */
  z-index: 2000;          /* 蓋在最上方 */
  display: none;          /* 尚未選工具前隱藏 */
  transform: translate(-50%, -50%); /* 以中心作為 transform 原點 */
}
